.blog__container{
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin-top: 20px;
}

.blog {
   display: flex;
   flex-direction: column;
   row-gap: 30px;
   width: 40%;
   padding: 40px;
   border-radius: 5px;
   box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}



.label__image {
    border: 1px solid grey;
    height: 15px;
    border-radius: 5px;
    padding: 20px;
}